@import './mixins.less';
// Variables
@themes: './variables.less';

// Usage
@import '@{themes}';

@bt-color-variation: dark;

@import "color-variations/@{bt-color-variation}/global";
@import "color-variations/@{bt-color-variation}/buttons";
@import "color-variations/@{bt-color-variation}/variables";

html,
body {
  height: 100%;
  margin: 0;
}

main {
  display: block;
}
